// Fonts
@font-face {
    font-family: 'RobotoRegular';
    src: url('../../public/assets/fonts/Roboto-Regular.ttf');
}

// Variables

:root {
    --main-color: #3794F2;
    --dark-color: #313A39;
    --gray-color: #dddfeb;
    --mid-gray-color: #cdd0d6;
    --light-gray-color: #cdd0d6;
    --light-color: #F1F1F1;

    --error-color: rgb(195, 41, 10);
    --warning-color: rgb(224, 167, 11);
    --placeholder-color: #6d6765;
}

.dark-mode {
    --main-color: #F1F1F1;
    --dark-color: #F1F1F1;
    --gray-color: #171721;
    --mid-gray-color: #c4bfbb;
    --light-gray-color: #4c4c4e;
    --light-color: #34343C;

    --placeholder-color: #dcd9d8;

    transition: .2s ease;
}

$main-color: var(--main-color);
$secondary-color: #FF5638;
$light-color: var(--light-color);
$dark-color: var(--dark-color);
$gray-color: var(--gray-color);
$mid-gray-color: var(--mid-gray-color);
$light-gray-color: var(--light-gray-color);

$error-color: var(--error-color);
$warning-color: var(--warning-color);
$placeholder-color: var(--placeholder-color);

$replace-font: Helvetica, Arial, sans-serif;
$main-font: 'RobotoRegular', $replace-font;

$main-shadow: rgba(100, 100, 100, 0.2) 0 10px 30px 0;
$modal-wrapper-bg: rgba(100, 100, 100, 0.2);

// Globales

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    background-color: $gray-color;
    color: $dark-color;
}

button {
    font-family: $main-font;
    background-color: unset;
    border: unset;
}

input, select {
    font-family: $main-font;
    border: unset;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.skz-modal_wrapper {
    background-color: $modal-wrapper-bg !important;
}

.skz-modal {
    background-color: $light-color !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

svg {
    color: $dark-color;
}

::-webkit-scrollbar {
    width: .5vw;
  }
  
::-webkit-scrollbar-track {
    background: $light-color;
}

::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $dark-color;
}

// Mixins

@mixin app-content {
    width: 90vw;
    margin: 0 auto;
    padding: 2vw 0;
}

@mixin app-component-theme {
    background-color: $light-color;
    box-shadow: $main-shadow;
}

@mixin half-component {
    width: 42.5vw;
    max-height: 37vw;
    height: 37vw;

    @include app-component-theme;
}

@mixin full-component {
    width: 90vw;
    max-height: 37vw;
    height: 37vw;
    margin: 2.5vw 0;

    @include app-component-theme;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin nws-colors {
    .Ind { background-color: $dark-color; color: $light-color; }
    .E-B { background-color: #CA4B38; color: #F1F1F1; }
    .Dév { background-color: #FEC800; color: #313A39; }
    .Com { background-color: #00a5a5; color: #F1F1F1; }
    .Soc { background-color: #620092; color: #F1F1F1; }
}

// Other variables

.copy-msg {
    position: absolute;

    padding: .25vw .5vw;

    color: $light-color;
    background-color: $dark-color;

    font-size: .9vw;

    opacity: 0;
    pointer-events: none;
    transition: .2s ease;

    &.appear {
        opacity: 1;
        transition: .2s ease;
    }
}