.events {
    .title {
        width: 20%;
    }

    .type {
        width: 15%;
    }

    .description {
        width: 40%;
    }

    .date {
        width: 20%;
    }

    .menu_buttons {
        width: 5%;
    }
}