.filter-menu {
    display: flex;
    align-items: center;

    width: 100%;
    height: 3vw;
    padding: .5vw 2vw;
    margin-bottom: .5vw;

    .filter-input {
        height: 2vw;
        padding-right: 1vw;

        input {
            width: 80%;
            height: 100%;
            padding: .5vw 0;
    
            background-color: transparent;
            border-bottom: 1px solid $dark-color;
            caret-color: $dark-color;
        }
    }
}