.app-header {
    background-color: $light-color;
    box-shadow: $main-shadow;

    .header-content {
        display: flex;
        justify-content: space-between;
        @include app-content;
        padding-left: 2vw;
        padding-right: 2vw;

        .brand {
            display: flex;
            align-items: center;

            img {
                width: 2.5vw;
                height: 2.5vw;
                margin-right: 1vw;

                cursor: pointer;
            }
            
            h1 {
                font-size: 1.4vw;

                cursor: pointer;
            }
        }

        .buttons {
            display: flex;

            button {
                @include flex-center;
                margin-left: 2vw;
                border-radius: 1.5vw;

                cursor: pointer;

                svg {
                    width: 1.5vw;
                    height: 1.5vw;

                    border-radius: 1.5vw;

                    transition: .1s ease;

                    &:hover {
                        cursor: pointer;
                        transition: .1s ease;
                    }

                    &#disconnect_icon:hover { color: $secondary-color; }
                    &#parameters_icon:hover { color: $main-color; }
                    &#dark-mode_icon {
                        transition: .1s ease;  

                        &:hover {
                            color: purple;
                            transition: .1s ease;
                        }
                    }

                    &#light-mode_icon {
                        fill: white;

                        transition: .1s ease;

                        &:hover {
                            color: #FFE205;
                            fill: #FFE205;
                            transition: .1s ease;
                        }
                    } 
                }
            }
        }
    }
}