.students {
    .fname {
        width: 17.5%;
    }

    .lname {
        width: 17.5%;
    }

    .age {
        width: 7.5%;
    }

    .email {
        width: 47.5%;
    }

    .phone {
        width: 12%;
    }
}